<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net451" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="Common.Logging" version="2.0.0" targetFramework="net451" />
  <package id="Common.Logging.Log4Net" version="2.0.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
</packages>