<#@ template  debug="true" hostSpecific="true" #>
<#@ output extension=".json" #>
<#@ assembly name="$(SolutionDir)Zirpl.AppEngine.CodeGeneration.VS2013\bin\$(Configuration)\Zirpl.AppEngine.VisualStudioAutomation.dll" #>
<#@ import namespace="Zirpl.AppEngine.VisualStudioAutomation.AppGeneration" #>
<#
	this.GenerateApp();
#>
