/Zirpl.AppEngine/obj
/Zirpl.AppEngine/bin
/Zirpl.AppEngine.EntityFramework/obj
/Zirpl.AppEngine.EntityFramework/bin
/Zirpl.AppEngine.EntityFramework.Net45/obj
/Zirpl.AppEngine.EntityFramework.Net45/bin
/Zirpl.AppEngine.Net35/obj
/Zirpl.AppEngine.Net35/bin
/Zirpl.AppEngine.Net35Client/obj
/Zirpl.AppEngine.Net35Client/bin
/Zirpl.AppEngine.Net40/obj
/Zirpl.AppEngine.Net40/bin
/Zirpl.AppEngine.Net40Client/obj
/Zirpl.AppEngine.Net40Client/bin
/Zirpl.AppEngine.Net45/obj
/Zirpl.AppEngine.Net45/bin
/Zirpl.AppEngine.Web/obj
/Zirpl.AppEngine.Web/bin
/Zirpl.AppEngine.Web.Net45/obj
/Zirpl.AppEngine.Web.Net45/bin
/packages
/Zirpl.AppEngine.Net35/Zirpl.AppEngine.Net35.csproj.user
/Zirpl.AppEngine.Silverlight/Bin
/Zirpl.AppEngine.Silverlight/obj
/Zirpl.AppEngine.v12.suo
/Zirpl.AppEngine.Silverlight/Zirpl.AppEngine.Silverlight.csproj.user
/Zirpl.AppEngine.Testing/bin
/Zirpl.AppEngine.Testing/obj
/Zirpl.AppEngine.Tests/obj
/Zirpl.AppEngine.Tests/bin
/Zirpl.AppEngine.EntityFramework.Tests/obj
/Zirpl.AppEngine.EntityFramework.Tests/bin
/Download
/Zirpl.AppEngine.sln.DotSettings.user
/Zirpl.Common.Tests/obj
/Zirpl.Common.Tests/bin
/Zirpl.Common.Silverlight5/obj
/Zirpl.Common.Silverlight5/Bin
/Zirpl.Common.Portable/obj
/Zirpl.Common.Portable/bin
/Zirpl.Common.Net45/obj
/Zirpl.Common.Net45/bin
/Zirpl.Common.Testing.Net45/obj
/Zirpl.Common.Testing.Net45/bin
/Zirpl.Common.Testing.Net4/obj
/Zirpl.Common.Testing.Net4/bin
/Zirpl.Common/obj
/Zirpl.Common/bin
/Zirpl.AppEngine.Silverlight5/obj
/Zirpl.AppEngine.Silverlight5/Bin
/Zirpl.AppEngine.Silverlight5/Zirpl.AppEngine.Silverlight5.csproj.user
/Zirpl.Common.Silverlight5/Zirpl.Common.Silverlight5.csproj.user
/Zirpl.AppEngine.CodeGeneration.VS2013/obj
/Zirpl.AppEngine.CodeGeneration.VS2013/bin
/Zirpl.AppEngine.CodeGeneration.VS2013/Zirpl.AppEngine.CodeGeneration.VS2013.csproj.user
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.CodeGeneration/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.CodeGeneration/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/obj
/Zirpl.AppEngine.CodeGeneration.VS2013/Zirpl.AppEngine.CodeGeneration.VS2013.csproj.DotSettings
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/Zirpl.AppEngine.Examples.VS2013AutoGeneratedApp.Model.csproj.DotSettings
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model.csproj.DotSettings
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/Zirpl.Examples.CodeGenerationVS2013AutoGeneratedApp.Model.csproj.DotSettings
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.DataService/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.DataService/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.DataService/Zirpl.Examples.CodeGeneration.VS2013.Commerce.DataService.csproj.DotSettings
