/Zirpl.AppEngine/obj
/Zirpl.AppEngine/bin
/Zirpl.AppEngine.EntityFramework/obj
/Zirpl.AppEngine.EntityFramework/bin
/Zirpl.AppEngine.EntityFramework.Net45/obj
/Zirpl.AppEngine.EntityFramework.Net45/bin
/Zirpl.AppEngine.Net35/obj
/Zirpl.AppEngine.Net35/bin
/Zirpl.AppEngine.Net35Client/obj
/Zirpl.AppEngine.Net35Client/bin
/Zirpl.AppEngine.Net40/obj
/Zirpl.AppEngine.Net40/bin
/Zirpl.AppEngine.Net40Client/obj
/Zirpl.AppEngine.Net40Client/bin
/Zirpl.AppEngine.Net45/obj
/Zirpl.AppEngine.Net45/bin
/Zirpl.AppEngine.Web/obj
/Zirpl.AppEngine.Web/bin
/Zirpl.AppEngine.Web.Net45/obj
/Zirpl.AppEngine.Web.Net45/bin
/packages
/Zirpl.AppEngine.Net35/Zirpl.AppEngine.Net35.csproj.user
/Zirpl.AppEngine.Silverlight/Bin
/Zirpl.AppEngine.Silverlight/obj
/Zirpl.AppEngine.v12.suo
/Zirpl.AppEngine.Silverlight/Zirpl.AppEngine.Silverlight.csproj.user
/Zirpl.AppEngine.Testing/bin
/Zirpl.AppEngine.Testing/obj
/Zirpl.AppEngine.Tests/obj
/Zirpl.AppEngine.Tests/bin
/Zirpl.AppEngine.EntityFramework.Tests/obj
/Zirpl.AppEngine.EntityFramework.Tests/bin
/Download
/Zirpl.AppEngine.sln.DotSettings.user
/Zirpl.Common.Tests/obj
/Zirpl.Common.Tests/bin
/Zirpl.Common.Silverlight5/obj
/Zirpl.Common.Silverlight5/Bin
/Zirpl.Common.Portable/obj
/Zirpl.Common.Portable/bin
/Zirpl.Common.Net45/obj
/Zirpl.Common.Net45/bin
/Zirpl.Testing.Net45/obj
/Zirpl.Testing.Net45/bin
/Zirpl.Testing.Net4/obj
/Zirpl.Testing.Net4/bin
/Zirpl.Common/obj
/Zirpl.Common/bin
/Zirpl.AppEngine.Silverlight5/obj
/Zirpl.AppEngine.Silverlight5/Bin
/Zirpl.AppEngine.Silverlight5/Zirpl.AppEngine.Silverlight5.csproj.user
/Zirpl.Common.Silverlight5/Zirpl.Common.Silverlight5.csproj.user
/Zirpl.AppEngine.CodeGeneration.VS2013/obj
/Zirpl.AppEngine.CodeGeneration.VS2013/bin
/Zirpl.AppEngine.CodeGeneration.VS2013/Zirpl.AppEngine.CodeGeneration.VS2013.csproj.user
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.CodeGeneration/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.CodeGeneration/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Model/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.DataService/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.DataService/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Service/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Service/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Tests.DataService/bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Tests.DataService/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Web.Core/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Web.Core/bin
/Zirpl.Testing/bin
/Zirpl.Testing/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Tests.Common/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Tests.Common/bin
/obj
/Bin
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Tests.Service/obj
/Zirpl.Examples.CodeGeneration.VS2013.Commerce.Tests.Service/bin
/Zirpl.AppEngine.Testing.Net45/obj
/Zirpl.AppEngine.Testing.Net45/bin
/Zirpl.Examples.CodeGeneration.VS2013.V2.Commerce.CodeGeneration/obj
/Zirpl.Examples.CodeGeneration.VS2013.V2.Commerce.CodeGeneration/bin
/Zirpl.Examples.CodeGeneration.VS2013.V2.Commerce.Model/obj
/Zirpl.Examples.CodeGeneration.VS2013.V2.Commerce.Model/bin
/Zirpl.AppEngine.CodeGeneration.VS2013/Zirpl.AppEngine.CodeGeneration.csproj.user
/Zirpl.AppEngine.CodeGeneration.VS2013/Zirpl.AppEngine.VisualStudioAutomation.csproj.user
Zirpl.Examples.CodeGeneration.VS2013.V2.Commerce.Model/Zirpl.Examples.Commerce.Model.csproj.user
/Zirpl.Examples.Commerce.CodeGeneration/bin
/Zirpl.Examples.Commerce.CodeGeneration/obj
Zirpl.Examples.Commerce.CodeGeneration/Zirpl.Examples.Commerce.CodeGeneration.csproj.user
Zirpl.Examples.Commerce.CodeGeneration/Zirpl.Examples.Commerce.Templates.csproj.user
