<#@ template  debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(SolutionDir)Zirpl.AppEngine.CodeGeneration.VS2013\bin\$(Configuration)\Zirpl.AppEngine.CodeGeneration.VS2013.dll" #>
<#@ import namespace="Zirpl.AppEngine.CodeGeneration" #>
<#
	//this.GenerateApp();
#>
